<body class="d-flex flex-column min-vh-100 bg-light text-dark"> <!-- Ensures sticky footer -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/MAXX-Energy-Logo-1B.png" alt="Maxx Energy Logo" width="120">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link <%= page_name === 'index' && 'active' %>" href="/">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link <%= page_name === 'about' && 'active' %>"
                            href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link <%= page_name === 'services' && 'active' %>"
                            href="/service">Services</a></li>
                    <li class="nav-item"><a class="nav-link <%= page_name === 'contact' && 'active' %>"
                            href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link <%= page_name === 'faq' && 'active' %>"
                            href="/faq">FAQ</a></li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary text-white" type="submit">Search</button>
                </form>
                <a href="/login" class="btn btn-outline-primary text-white ms-2 <%= page_name === 'login' && 'active' %>">Sign In/Up</a>
            </div>
        </div>
    </nav>