<% if (isUserSignedIn) { %>
    <%- include('../dashboardPartials/_dashboardHeader.ejs') %>

    <div class="container mt-5 table-responsive">
        <h2 class="text-center">User List</h2>

        <form class="mb-4" action="/dashboard/users" method="GET">
            <div class="input-group">
                <input 
                    type="search" 
                    id="searchQuery" 
                    class="form-control" 
                    placeholder="Search users by name or email..." 
                    required
                />
                <button type="submit" id="search-submit" value="search" class="btn btn-primary">Search</button>
            </div>
        </form>

    
        <script src="/javascripts/getUsers.js"></script>
        
        <!-- User Table -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.employee_id %></td>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- Pagination -->
        <% if (totalPages > 1) { %>
            <nav aria-label="Page navigation">
                ...
            </nav> 
        <% } %>

    </div>

    <!-- Footer -->
    <%- include('../dashboardPartials/_dashboardFooter.ejs') %> 
<% } else { %> 
    <!-- If not signed in -->
    <p>You are not authorized to view this page.</p> 
<% } %> 
